Resources/*/maya/*.mb filter=lfs diff=lfs merge=lfs -text
Resources/*/maya/*.ma filter=lfs diff=lfs merge=lfs -text
Resources/*/maya/Assets/*.fbx filter=lfs diff=lfs merge=lfs -text
Resources/*/substance-painter/*.spp filter=lfs diff=lfs merge=lfs -text
Resources/*/textures/*.png filter=lfs diff=lfs merge=lfs -text
Resources/*/textures/*.jpg filter=lfs diff=lfs merge=lfs -text
